@font-face {
    font-family: 'Teko';
    src: url("../fonts/Teko/Teko-Regular.ttf");
}

@font-face {
    font-family: 'XPLOR Bold';
    src: url("../fonts/XPLOR Bold/XPLOR Bold-Regular.otf");
}

#app {
    font-family: 'XPLOR Bold';
}

.special-bg {
    background-color: #062638;
}

.alert-bg img {
    width: 40px;
    margin: 0 10px 0 10px;
}

.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

.text-pink {
    color: #ff66cc;
}

.text-blue {
    color: #38e9e9;
}
