<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Popups</title>

    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">

    <script src="assets/lib/tmi.min.js"></script>
    <script src="assets/lib/vue.js"></script>

    <script src="src/EventQueue.js"></script>
    <script type="module" src="src/app.js"></script>
</head>
<body>
<div id="app">
    <transition name="bounce">
        <div
            v-if="show"
            id="popupbox"
        >
            <div id="popuptext-wrapper">
                <h1
                    id="popuptext"
                    v-html="text"
                ></h1>
            </div>
        </div>
    </transition>
    <img
        v-if="showTTS"
        id="tts"
        src="assets/images/tts.gif"
    >
</div>

</body>
</html>
