<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitch Popups</title>
    <script src="./js/vendor/tailwind.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/vendor/vue.js"></script>
    <script src="./js/vendor/tmi.min.js"></script>
    <script src="./js/Court.js"></script>
    <script src="./js/EventQueue.js"></script>
    <script src="./js/CooldownStore.js"></script>
    <script src="./env.js"></script>
  </head>
  <body class="h-screen w-screen uppercase text-pink">
    <div id="app" class="h-screen w-screen">
      <transition name="bounce">
        <div
          class="w-1/2 flex flex-col items-center justify-center m-auto mt-20 special-bg p-10 rounded-2xl"
          v-if="court.inSession()"
        >
          <h1 class="text-6xl">Court is in session</h1>
          <div class="flex w-full justify-around text-5xl text-blue">
            <p>Guilty: {{ court.getGuiltyCount() }}</p>
            <p>Innocent: {{ court.getInnocentCount() }}</p>
          </div>
          <p class="absolute text-center text-8xl">
            {{ court.getAccused() }}
          </p>
          <img class="relative" src="./images/jail.png" />
        </div>
      </transition>
      <transition name="bounce">
        <div
          class="absolute w-full h-full flex flex-col justify-center items-center"
          v-if="modal.active"
        >
          <img
            class="rounded shadow-2xl shadow-black" :src="modal.src"
            width="300"
            height="300"
          />
          <h2 class="shadow-2xl shadow-black mt-1 px-5 pt-2 text-5xl special-bg rounded-2xl">
            {{ modal.text }}
          </h2>
        </div>
      </transition>
      <transition name="bounce">
        <div class="absolute alert-bg special-bg left-1 bottom-1 rounded" v-if="show">
          <h1
            class="px-6 flex justify-center items-center whitespace-nowrap text-5xl"
            v-html="text"
          ></h1>
        </div>
      </transition>
      <img v-if="showTTS" class="absolute bottom-20 left-3" src="./images/tts.gif" />
      <audio id="tts-audio" />
    </div>
  </body>
  <script src="./js/main.js"></script>
</html>
